* text=auto !eol
/arrangement_parameters_mng.h -text
/controler_parameters_mng.c -text
/controler_parameters_mng.h -text
/display_convert.c -text
/display_convert.h -text
/du-music.grammar -text
/du-sound.grammar -text
/g_parameters_mng.c -text
/g_parameters_mng.h -text
/instr_mapping.c -text
/instr_mapping.h -text
/metadata_parameters_mng.h -text
/midi_parameters_mng.c -text
/midi_parameters_mng.h -text
/music_migration.c -text
/music_migration.h -text
/music_parameters_mng.c -text
/music_parameters_mng.h -text
/old_sound_parameters_mng.h -text
/parameters_mng.c -text
/parameters_mng.h -text
/sound_parameters_mng.c -text
/sound_parameters_mng.h -text
